* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    line-height: 2.5rem;
    box-sizing: border-box;
}

body {

}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

:root {
    --brand-color: rgb(100, 94, 94);
    --white-color: #fff;
    --header-height: 57px;
}

.mt-8 {
    margin-top: 8px;
}

.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.c-0 {
    display: none;
}

.c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.c-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.c-o-1 {
    margin-left: 8.33333%;
}

.c-o-2 {
    margin-left: 16.66667%;
}

.c-o-3 {
    margin-left: 25%;
}

.c-o-4 {
    margin-left: 33.33333%;
}

.c-o-5 {
    margin-left: 41.66667%;
}

.c-o-6 {
    margin-left: 50%;
}

.c-o-7 {
    margin-left: 58.33333%;
}

.c-o-8 {
    margin-left: 66.66667%;
}

.c-o-9 {
    margin-left: 75%;
}

.c-o-10 {
    margin-left: 83.33333%;
}

.c-o-11 {
    margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-0 {
        display: none;
    }

    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }

    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-o-1 {
        margin-left: 8.33333%;
    }

    .m-o-2 {
        margin-left: 16.66667%;
    }

    .m-o-3 {
        margin-left: 25%;
    }

    .m-o-4 {
        margin-left: 33.33333%;
    }

    .m-o-5 {
        margin-left: 41.66667%;
    }

    .m-o-6 {
        margin-left: 50%;
    }

    .m-o-7 {
        margin-left: 58.33333%;
    }

    .m-o-8 {
        margin-left: 66.66667%;
    }

    .m-o-9 {
        margin-left: 75%;
    }

    .m-o-10 {
        margin-left: 83.33333%;
    }

    .m-o-11 {
        margin-left: 91.66667%;
    }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .l-0 {
        display: none;
    }

    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }

    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .l-o-1 {
        margin-left: 8.33333%;
    }

    .l-o-2 {
        margin-left: 16.66667%;
    }

    .l-o-3 {
        margin-left: 25%;
    }

    .l-o-4 {
        margin-left: 33.33333%;
    }

    .l-o-5 {
        margin-left: 41.66667%;
    }

    .l-o-6 {
        margin-left: 50%;
    }

    .l-o-7 {
        margin-left: 58.33333%;
    }

    .l-o-8 {
        margin-left: 66.66667%;
    }

    .l-o-9 {
        margin-left: 75%;
    }

    .l-o-10 {
        margin-left: 83.33333%;
    }

    .l-o-11 {
        margin-left: 91.66667%;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .wide .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .wide .l-0 {
        display: none;
    }

    .wide .l-1,
    .wide .l-2,
    .wide .l-2-4,
    .wide .l-3,
    .wide .l-4,
    .wide .l-5,
    .wide .l-6,
    .wide .l-7,
    .wide .l-8,
    .wide .l-9,
    .wide .l-10,
    .wide .l-11,
    .wide .l-12 {
        display: block;
    }

    .wide .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .wide .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .wide .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .wide .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .wide .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .wide .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .wide .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wide .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .wide .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .wide .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .wide .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .wide .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .wide .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .wide .l-o-1 {
        margin-left: 8.33333%;
    }

    .wide .l-o-2 {
        margin-left: 16.66667%;
    }

    .wide .l-o-3 {
        margin-left: 25%;
    }

    .wide .l-o-4 {
        margin-left: 33.33333%;
    }

    .wide .l-o-5 {
        margin-left: 41.66667%;
    }

    .wide .l-o-6 {
        margin-left: 50%;
    }

    .wide .l-o-7 {
        margin-left: 58.33333%;
    }

    .wide .l-o-8 {
        margin-left: 66.66667%;
    }

    .wide .l-o-9 {
        margin-left: 75%;
    }

    .wide .l-o-10 {
        margin-left: 83.33333%;
    }

    .wide .l-o-11 {
        margin-left: 91.66667%;
    }
}

#app {
    height: 100%;
}

#header {
    background-color: var(--brand-color);
    height: var(--header-height);
}

.header__container {
    display: flex;
    padding: 16px 0;
    justify-content: space-between;
    color: var(--white-color);
}

.header__title {
    margin: 0;
    font-size: 2.4rem;
}

.header__add-new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.4rem;
}

.header__add-new-text {
    margin-left: 6px;
    font-size: 2rem;
}

.header__add-new:hover, .book-list__edit:hover, .book-list__delete:hover, .clear-log-btn:hover {
    opacity: 0.6;
    cursor: pointer;
}

#content {
    margin-top: 32px;
}


#book-list {
    height: calc(100vh - 32px - var(--header-height));
    overflow-y: scroll;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#book-list::-webkit-scrollbar {
    display: none;
}

.book-list__item, .result-log {
    margin-bottom: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

#submit-btn, #end-btn {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white-color);
    padding: 12px;
    min-width: 100px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    background-color: #58cc02;
    border: 0 solid transparent;
    box-shadow: 0 4px 0 #58a700;
    cursor: pointer;
    transition: filter .2s;
    -webkit-transition: filter .2s;
    -moz-transition: filter .2s;
    -ms-transition: filter .2s;
    -o-transition: filter .2s;
}

#end-btn {
    background-color: #f14949;
    box-shadow: 0 4px 0 #bc3838;
}

#end-btn:disabled, #submit-btn:disabled {
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
    cursor: not-allowed;
}

#end-btn:disabled:hover, #submit-btn:disabled:hover {
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
}

#submit-btn:hover, #end-btn:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.book-list__heading {
    display: flex;
    justify-content: space-between;
    background-color: var(--brand-color);
    color: var(--white-color);
    padding: 12px;
    font-size: 1.6rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.book-list__btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-list__edit {
    margin-left: 8px;
}

.book-list__edit, .book-list__delete {
    font-size: 2rem;
}

.book-location {

}

.book-list__body, .result-log__body {
    background-color: #f6f6f6;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.book-list__body > p {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.book-list__body > p:last-child {
    border-bottom: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.body-item {
    padding: 12px;
}

.book-date {
    font-size: 1.4rem;
}

.book-detail {
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.book-detail__item {
    display: block;
}

.result-log {

}

.result-log__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brand-color);
    color: var(--white-color);
    padding: 12px;
    font-size: 1.6rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.clear-log-btn {
    cursor: pointer;

}

.result-log__body {
    padding: 12px 0;
    background-color: black;
    max-height: 400px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: clip;
    overflow-wrap: break-word;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.result-log__body::-webkit-scrollbar {
    display: none;
}

.result-log__content {
    font-size: 1.4rem;
    margin-left: 12px;
    color: rgb(29, 236, 39);
    font-weight: 500;
}

.result-log__content.result-log__content--error {
    color: rgb(233, 29, 29);
}

.modal-layout {
    
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
}

.input-form {
    position: absolute;
    z-index: 1;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 400px;
    max-width: 100%;
    height: 100%;
    max-height: 100vh;
    background-color: var(--white-color);
    padding: 24px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    overflow-y: scroll;
    -o-border-radius: 12px;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.form::-webkit-scrollbar {
    display: none;
}


.form-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-group--sub {
    align-items: flex-start;
}

.form-container {
    border: 1px solid #ddd;
    margin-top: 16px;
    position: relative;
}

.form-container__label {
    position: absolute;
    top: -10px;
    background-color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 600;
    left: -1px;
    line-height: 1.6rem;
}

.form-container--detail {
    padding: 0 12px;
    margin-top: 12px;
    position: relative;
}

.add-detail-btn {
    position: absolute;
    right: 7px;
    top: -7px;
    font-size: 1.6rem;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(234, 102, 41);
    background-color: #ddd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.del-detail-btn {
    position: absolute;
    right: -5px;
    top: -7px;
    font-size: 1.6rem;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(234, 102, 41);
    background-color: #ddd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

.add-detail-btn:hover, .del-detail-btn:hover {
    opacity: 0.7;
}

.detail-container {
    position: relative;
}

.form-label {
    font-size: 1.6rem;
    font-weight: 600;
    flex: 1;
}

.form-control {
    font-size: 1.8rem;
    font-weight: 400;
    padding: 4px;
    flex: 1;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.checkbox-container:last-child {
    margin-right: 0;
}

.checkbox-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}

.checkbox-group:first-child {
    margin-bottom: 4px;
}

.checkbox-item {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.checkbox-label {
    font-size: 1.8rem;
    font-weight: 400;
}

.btn-container {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.option-btn {
    min-width: 80px;
    font-size: 2rem;
    font-weight: 500;
    padding: 6px;
    cursor: pointer;
}

.form-message {
    color: #f14949;
    min-height: 25px;
}
